PORT=8000
BOLNA_API_KEY=your_bolna_api_key
CONFIRMBOT_AGENT_ID=your_confirmbot_id
FOLLOWUPBOT_AGENT_ID=your_followupbot_id
FEEDBACKBOT_AGENT_ID=your_feedbackbot_id
CLINIC_NAME=HealthFirst Clinic
BACKEND_API_KEY=medcall_secret_key_123
